@page "/"
@inject WorkBookCreator workbookCreator;

<PageTitle>Xceed Workbooks.NET Sample</PageTitle>

<h1>Select a button to export data to check how Xceed.Workbooks.NET works!!!"</h1>

<div style="display: flex; flex-direction: column; align-items: center; margin-top: 50px;">
	<button class="btn btn-primary" @onclick="GenerateSimpleWorkbook" style="margin: 10px;">Simple Workbook</button>
	<button class="btn btn-success" @onclick="GenerateStyledWorkbook" style="margin: 10px;">Styled Workbook</button>
</div>


@code {
	private async Task GenerateSimpleWorkbook() => await workbookCreator.GenerateSimpleWorkbook();
	private async Task GenerateStyledWorkbook() => await workbookCreator.GenerateStyledWorkbook();
}
